:root{
	--mainColor:#222b33;
	--secondaryColor:#2d353d;

	--borderColor:#677f83;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--background-box:#5f5f53cc;

	--buttonColor:#17a2b8;


}

body{
	background: var(--mainColor);
}
