
/* posts.html style */

.projects{
    margin-top: 40px;
    background-color: var(--mainColor);
    border-bottom: none;
}

.tags{
    display: inline-block;
    color: #fff;
    background-color: #888;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 5px;
    font-size: 12px;
}

/* post.html style */
.blog-wraper{
    margin-top: 60px;
}

.blog-post{
    margin: 0 auto;
    width: 95%;
    max-width: 900px;
    /* max-width: var(--maxWidthPost); */
    justify-items: center;

}

.thumbnail{
    margin: 0 auto;
	display: block;
	max-width: 100%;
	height: auto;
	/* object-fit: cover; */
}

/* delete.html style */

.delete-container{
    margin-top: 60px;
}