


/* posts.html style */

.projects{
    background-color: var(--mainColor);
    border-bottom: none;
}

.tags{
    display: inline-block;
    color: #fff;
    background-color: #888;
    border-radius: 5px;
    margin: 2px;
    padding: 2px 5px;
    font-size: 12px;
}

/* search style */

.search{
    display: flex;
	justify-content: center;
}

#myInput{
    width: 90%;
    margin-bottom: 20px;
    margin-top: 60px;
    padding: 5px 10px;
    border: 2px solid var(--borderColor);
    border-radius: .25rem;
}


/* post.html style */
.blog-wraper{
    margin-top: 60px;
}

.blog-post{
    margin: 0 auto;
    width: 95%;
    max-width: 900px;
    /* max-width: var(--maxWidthPost); */
    justify-items: center;

}

.post-thumbnail{
    margin: 0 auto;
	display: block;
	max-width: 100%;
	max-height: 500px;
	/* object-fit: cover; */
}


