{% load static %}
<section class="nav-section">
    <div class="nav-wraper">
            <ul id="navigation">
            <li><a href="{% url 'home' %}">Home/ </a></li>
            <li><a href="{% url 'home' %}#projects">Projects/ </a></li>
            <!-- <li><a href="#">Resume/</a></li> -->
            <li><a href="{% url 'posts' %}">Blog/ </a></li>
            <li><a href="{% url 'home' %}#contact">Contact/</a></li>
            </ul>
            <div id="theme-options-wrapper">
                <div data-mode="light" id="light-mode" class="theme-dot"></div>
                <div data-mode="dark" id="dark-mode" class="theme-dot"></div>
            </div>
    </div>
</section>

