{% extends 'base/main.html' %}
{% load static %}

{% block head-links %} 
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block content %}



<section class="projects">
    <div class="projects-container">
        <div class="search">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Post Title...">
        </div>
        <main id="projects" class="projects-wraper-">
            {% for post in posts %}
                <!-- <div> -->
                    <article class="post-">
                        <img class="thumbnail-" src="{{post.thumbnail.url}}" alt="{{post.img_alt}}">
                        <div class="post-preview-">
                            <a href="{% url 'post' post.slug %}"><h6 class="post-title-">{{post.headline}}</h6></a>
                            <p class="post-intro-">{{post.sub_headline}}</p>
                        </div>
                        <div class="post-action">
                            <a href="{% url 'post' post.slug %}"><b>Read-More</b></a>
                            {% if post.github %}
                                <a href="{{post.github}}"target="_blank"><b>Github</b></a>
                            {% endif %}
                            {% if post.demo %}
                                <a href="{{post.demo}}"target="_blank"><b>Demo</b></a>
                            {% endif %}
                            <hr>
                        </div>
                    </article>
                <!-- </div> -->
                {% empty %}
                <h3>No posts found...</h3>
            {% endfor %}
        </main>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script>
    // Search
    function myFunction() {
      // Declare variables
      var input, filter, project, post, title, i, txtTitle;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      project = document.getElementById("projects");
      post = project.getElementsByTagName("article");
    
    //   Loop through all title posts, and hide those who don't match the search query
      for (i = 0; i < post.length; i++) {
        title = post[i].getElementsByClassName("post-title-")[0];
        if (title) {
          txtTitle = title.textContent || title.innerText;
          if (txtTitle.toUpperCase().indexOf(filter) > -1){
            post[i].style.display = "";
          } else {
            post[i].style.display = "none";
          }
        }
      }
    
    }
</script>
{% endblock scripts %}