{% extends 'base/main.html' %}
{% load static %}

{% block head-links %} 
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block content %}



<section class="projects">
    <div class="projects-container">
        <div class="search">
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search Post Title...">
        </div>
        <div id="projects" class="projects-wraper">
            {% for post in posts%}
            <article class="post">
                <div>
                    <img class="thumbnail" src="{{post.thumbnail.url}}">
                    <div class="post-preview">
                        <h6 class="post-title">{{post.headline}}</h6>
                        <p class="post-intro">{{post.sub_headline}}</p>
                        <a href="{% url 'post' post.slug %}">Read More</a>
                        <hr>
                        {% for tag in post.tags.all %}
                            <span class="tags">{{tag}}</span>
                        {% endfor %}
                    </div>
                </div>
            </article>
            {% empty %}
                <h3>No posts found...</h3>
            {% endfor %}

        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script>
    function myFunction() {
      // Declare variables
      var input, filter, project, post, title, i, txtTitle;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      project = document.getElementById("projects");
      post = project.getElementsByTagName("article");
    
    //   Loop through all title posts, and hide those who don't match the search query
      for (i = 0; i < post.length; i++) {
        title = post[i].getElementsByClassName("post-title")[0];
        if (title) {
          txtTitle = title.textContent || title.innerText;
          if (txtTitle.toUpperCase().indexOf(filter) > -1){
            post[i].style.display = "";
          } else {
            post[i].style.display = "none";
          }
        }
      }
    
    }
</script>
{% endblock scripts %}